.card{
    display: flex;
    align-items: flex-start;
    margin: 2rem 2rem 2rem 2rem;
    padding: 1.5rem;
    width: 80vw;
    box-shadow: 0 0 28px 4px rgba(0,0,0);
}
.card_title{
    font-weight: 800;
    font-size: 1.5rem;
}
.card_img{
    display: flex;
    justify-content: flex-end;
}
.card_image img{
    border-radius: 50%;
}
.card_data{
    font-size: 1.5rem;
}
